{% extends "base.html" %}

{% block content %}

<div class="flex flex-col gap-4 h-screen w-screen justify-center items-center">
    {% if user["bot_enabled"] %}
        <div id="botText" class="dark:text-white text-black text-xl transition-all">Бот подключен на вашем канале</div>
        <div id="botButton" class="text-5xl text-white bg-blue rounded-full p-3 select-none cursor-pointer hover:scale-105 transition-all" onclick="toggleBot()">Отключить</div>
    {% else %}
        <div id="botText" class="dark:text-white text-black text-xl transition-all">Бот отключен на вашем канале</div>
        <div id="botButton" class="text-5xl text-white bg-blue rounded-full p-3 select-none cursor-pointer hover:scale-105 transition-all" onclick="toggleBot()">Подключить</div>
    {% endif %}
</div>

<script src="/static/js/profile.js"></script>
{% endblock %}